// fonts
$fontFamilyMain: 'Inter', 'Arial', sans-serif;

$fontH1: 700 #{36px} / #{120%} $fontFamilyMain;
$fontH2: 700 #{32px} / #{120%} $fontFamilyMain;
$fontH3: 700 #{24px} / #{120%} $fontFamilyMain;
$fontH4: 700 #{18px} / #{120%} $fontFamilyMain;
$fontH5: 700 #{16px} / #{120%} $fontFamilyMain;
$fontH6: 700 #{14px} / #{120%} $fontFamilyMain;
$fontH7: 700 #{12px} / #{120%} $fontFamilyMain;
$fontH8: 700 #{10px} / #{120%} $fontFamilyMain;

$fontP1: 500 #{24px} / #{120%} $fontFamilyMain;
$fontP2: 500 #{18px} / #{120%} $fontFamilyMain;
$fontP3: 400 #{16px} / #{120%} $fontFamilyMain;
$fontP4: 500 #{16px} / #{120%} $fontFamilyMain;
$fontP5: 400 #{14px} / #{120%} $fontFamilyMain;
$fontP6: 500 #{14px} / #{120%} $fontFamilyMain;
$fontP7: 400 #{12px} / #{120%} $fontFamilyMain;
$fontP8: 500 #{12px} / #{120%} $fontFamilyMain;
$fontP9: 400 #{10px} / #{120%} $fontFamilyMain;
$fontP10: 500 #{10px} / #{120%} $fontFamilyMain;

// Styleguide
$whiteMain: #ffffff;
$white600: #ffffffe0;
$white500: #ffffffa3;
$white400: #ffffff66;
$white300: #ffffff24;
$white200: #ffffff17;
$white100: #ffffff0f;

$blackMain: #08091c;
$black600: #08091ce0;
$black500: #08091c99;
$black400: #08091c5c;
$black300: #08091c1f;
$black200: #08091c14;
$black100: #08091c0a;

$blueMain: #454de5;
$blue800: #1721e5;
$blue700: #2e37e5;
$blue600: #454de5e0;
$blue500: #454de599;
$blue400: #454de55c;
$blue300: #454de524;
$blue200: #454de51a;
$blue100: #454de50f;

$redMain: #e54545;
$red800: #e51717;
$red700: #e52e2e;
$red600: #e54545e0;
$red500: #e5454599;
$red400: #e545455c;
$red300: #e5454524;
$red200: #e545451a;
$red100: #e545450f;

// colors

//background
$bgPrimary: $whiteMain;
$bgPrimaryInverse: $black600;
$bgSecondary: $black100;
$bgSecondaryHover: $black200;
$bgSecondaryActive: $black300;
$bgSecondaryInverse: $black500;
$bgDisabled: $black300;
$bgAccent: $blueMain;
$bgAccentHover: $blue700;
$bgAccentActive: $blue800;
$bgAccentSubdued: $blue100;
$bgAccentSubduedHover: $blue200;
$bgAccentSubduedActive: $blue300;
$bgCritical: $redMain;
$bgCriticalHover: $red700;
$bgCriticalActive: $red800;
$bgCriticalSubdued: $red100;
$bgCriticalSubduedHover: $red200;
$bgCriticalSubduedActive: $red300;

// text
$textPrimary: $blackMain;
$textPrimary600: $black600;
$textSecondary: $black500;
$textDisabled: $black400;
$textAccent: $blueMain;
$textAccentHover: $blue700;
$textAccentActive: $blue800;
$textAccentSubdued: $blue100;
$textAccentSubduedHover: $blue200;
$textAccentSubduedActive: $blue300;
$textCritical: $redMain;
$textCriticalHover: $red700;
$textCriticalActive: $red800;

// border
$borderPrimary: $black300;
$borderSecondary: $black200;
$borderFocus: $blackMain;
$borderAccent: $blueMain;
$borderAccentHover: $blue700;
$borderAccentActive: $blue800;
$borderCritical: $redMain;

// icon
$iconPrimary: $blackMain;
$iconSecondary: $black500;
$iconDisabled: $black400;
$iconAccent: $blueMain;
$iconAccentHover: $blue700;
$iconAccentActive: $blue800;
$iconAccentSubdued: $blue100;
$iconAccentSubduedHover: $blue200;
$iconAccentSubduedActive: $blue300;
$iconCritical: $redMain;
$iconCriticalHover: $red700;
$iconCriticalActive: $red800;
